:root {
  --title-font-size: 30px;
  --desc-font-size: 20px;
  --side-heading-font-size: 20px;

  --dark-hint-color: #12121280;
  --dark-grey-color: #808080;
  --light-grey-color: #80808050;

  --lang-cont-radius: 10px;
}

::placeholder {
  color: var(--dark-hint-color);
}
.bg-container {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(1px);
  background-color: #00000060;
  overflow-y: hidden;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  background-color: white;
  padding: 2.5em;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #00000070;
  z-index: 10;
}

.modal-container .top-pane {
  display: flex;
}

.heading {
  font-size: 1.3em;
  color: var(--dark-grey-color);
  margin-bottom: 1.5em;
  flex-basis: content;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}

.item-label {
  color: var(--light-grey-color);
  font-size: 20px;
}

.title-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-label:has(+ .title:focus) {
  color: #ffbb00;
}

.title-field .title {
  font-size: var(--title-font-size);
  /* background-color: red; */
  border: none;
  outline: none;
  border-bottom: 1px solid;
  font-weight: 600;
  border-bottom-color: var(--dark-grey-color);
}

.btn-container {
  margin-left: auto;
  display: flex;
  justify-content: end;
}

.btn {
  color: white;
  font-weight: 600;
  border: none;
  height: 50px;
  padding-block: 1em;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px;
  padding-inline: 1.5em;
}

.cta {
  background-color: #7f00ff;
}

.cancel-btn {
  border: 1px solid grey;
  color: grey;
  width: fit-content;
}

.msg {
  display: inline-flex;
  /* background-color: #FB560730; */
  border: none;
  border-radius: 10px;
  margin: 10px 0;
}

.msg img {
  filter: invert(15%) sepia(94%) saturate(7183%) hue-rotate(355deg)
    brightness(102%) contrast(118%);
}
.msg p {
  margin-left: 10px;
  color: red;
  font-size: 0.8em;
}

.lang-details {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.lang-details .note {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
}

.note img {
  filter: invert(64%) sepia(39%) saturate(6873%) hue-rotate(152deg)
    brightness(92%) contrast(82%);
}
.note p {
  margin-left: 10px;
  color: #17a2b8;
  font-size: 0.8em;
}

.lang-container {
  width: max-content;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-inline: auto;
  border: 1px solid var(--light-grey-color);
  border-radius: var(--lang-cont-radius);
  margin-top: 30px;
}

.LANG {
  color: black;
  padding: 10px;
  border: none;
  width: max-content;
  cursor: pointer;
  font-weight: 600;
  border-left: 1px solid var(--light-grey-color);
}

.lang-container :first-child {
  border-top-left-radius: var(--lang-cont-radius);
  border-bottom-left-radius: var(--lang-cont-radius);
  margin: 0;
}

.lang-container :last-child {
  border-top-right-radius: var(--lang-cont-radius);
  border-bottom-right-radius: var(--lang-cont-radius);
  margin: 0;
}

.desc-field {
  margin-top: 10px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.desc-field .desc {
  width: 100%;
  height: 100%;
  font-size: var(--desc-font-size);
  border: 1px solid var(--light-grey-color);
  border-radius: 10px;
  outline: none;
  font-weight: 600;
  border-bottom-color: var(--dark-grey-color);
  padding: 10px;
  resize: none;
}

.desc::-webkit-scrollbar {
  width: 10px;
  /* background-color: blue */
}

.desc::-webkit-scrollbar-thumb {
  background-color: var(--light-grey-color);
  border: none;
  border-radius: 50px;
}

.desc::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-grey-color);
}

.item-label:has(+ .desc:focus) {
  color: #ffbb00;
}

.HTML {
  color: white;
  background-color: #e64c18;
}
.CSS {
  color: white;
  background-color: #264de4;
}
.TYPESCRIPT {
  color: white;
  background-color: #2d79c7;
}
.JAVASCRIPT {
  color: black;
  background-color: #f0dc4e;
}
.JSON {
  color: white;
  background-color: black;
}
.LESS {
  color: white;
  background-color: #1d365d;
}
.SCSS {
  color: white;
  background-color: #bf4080;
}

.OTHER {
  color: white;
  background-color: grey;
}

.html:hover {
  color: white;
  background-color: #e64c18;
}
.css:hover {
  color: white;
  background-color: #264de4;
}
.typescript:hover {
  color: white;
  background-color: #2d79c7;
}
.javascript:hover {
  color: black;
  background-color: #f0dc4e;
}
.json:hover {
  color: white;
  background-color: black;
}
.less:hover {
  color: white;
  background-color: #1d365d;
}
.scss:hover {
  color: white;
  background-color: #bf4080;
}

.other-lang:hover {
  color: white;
  background-color: grey;
}
