@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  /* FONT SIZES */
  --main-heading-font-size: 2em;
  --sub-heading-font-size: 1.5em;
  --side-heading-font-size: 1em;

  /* FONT WEIGHTS */
  --light-weight: 300;
  --regular-weight: 400;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* BORDER RADIUS */
  --small-radius: 10px;
  --big-radius: 20px;

  /* COLORS */
  --primary-gradient-start-color: #e100ff;
  --primary-gradient-end-color: #7f00ff;

  --dark-text-color: #121212;
  --light-text-color: #ffffff;

  --accent-color: blueviolet;

  --err-color: #ff006e;
  --blue-color: #3a86ff;
  --yellow-color: #ffbe0b80;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: wheat; */
}

body {
  font-family: "poppins", "san-serif";
}

/* ------------------------------------------------ */
/* UTILITES CLASSES*/

.link-item {
  text-decoration: none;
  font-size: var(--links-font-size);
  font-weight: var(--light-weight);
  color: var(--dark-text-color);
  cursor: pointer;
}

/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* NAV BAR STYLES */

header {
  /* background-color: red; */
  margin-inline: 5%;
}

nav {
  width: 100%;
  margin-block: 1em;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.brand {
  color: var(--accent-color);
  font-size: var(--sub-heading-font-size);
  font-weight: var(--bold-weight);
}

nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.nav-link {
  font-size: var(--sub-heading-font-size);
}

.vertical-line {
  height: 60%;
  margin-inline: 1em;
  border: 1px solid #80808050;
}

nav button {
  width: 5.5em;
  height: 90%;
  text-align: center;
  cursor: pointer;
  color: var(--light-text-color);
  border: none;
  background-image: linear-gradient(
    to bottom right,
    var(--primary-gradient-start-color),
    var(--primary-gradient-end-color)
  );
  border-radius: var(--small-radius);
  font-weight: var(--bold-weight);
  font-size: var(--side-heading-font-size);
}

nav button .link-item {
  color: white;
  font-weight: var(--bold-weight);
  font-size: var(--side-heading-font-size);
}

.border-btn {
  color: grey;
  font-weight: var(--light-weight);
  background-image: none;
  background-color: white;
  border: 1px solid #80808050;
}

.email-btn {
  background-image: none;
  background-color: var(--yellow-color);
  padding: 10px 1em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--big-radius);
  font-weight: var(--light-weight);
}

.email-btn p {
  margin-inline: 10px;
  color: var(--dark-text-color);
}

.email-btn img {
  width: 25px;
  height: 25px;
}

/* ------------------------------------------------ */
/* HOME PAGE STYES */

.home {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.right-pane {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-pane img {
  width: 80%;
}

.left-pane {
  width: 50%;
  display: flex;
  margin-left: 5em;
}

.hero-text {
  width: 80%;
  font-size: var(--main-heading-font-size);
  font-weight: var(--bold-weight);
  margin-block: 2em;
}

.left-pane button {
  width: 13em;
  height: 3em;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: var(--bold-weight);
  font-size: var(--sub-heading-font-size);
  border-radius: var(--small-radius);
  background-image: linear-gradient(
    to bottom right,
    var(--primary-gradient-start-color),
    var(--primary-gradient-end-color)
  );
}

/* ------------------------------------------------ */
/*  DASHBOARD STYLES */

.page-top-pane {
  display: flex;
  padding: 1em;
  margin-inline: 5%;
  justify-content: space-between;
}

.page-heading {
  font-size: var(--main-heading-font-size);
  color: var(--dark-text-color);
  font-weight: var(--semi-bold-weight);
  display: flex;
}

.light-btn {
  border: none;
  border-radius: var(--big-radius);
  width: max-content;
  padding: 10px 1em;
  display: flex;
  font-size: 1em;
  color: white;
  font-weight: var(--semi-bold-weight);
  justify-content: space-between;
  background-color: var(--blue-color);
  margin-right: 20px;
}

.light-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.call-to-action {
  width: auto;
  height: 40px;
  max-width: 40px;
  border: none;
  border-radius: 50px;
  align-items: center;
  display: flex;
  background-color: #8338ec;
  color: var(--light-text-color);
  font-size: 1.2em;
  font-weight: var(--semi-bold-weight);
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.call-to-action:hover {
  max-width: 300px;
}

.expandable-err-btn {
  width: auto;
  height: 40px;
  max-width: 40px;
  border: none;
  border-radius: 50px;
  align-items: center;
  display: flex;
  background-color: var(--err-color);
  color: var(--light-text-color);
  font-size: 1.2em;
  font-weight: var(--semi-bold-weight);
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
  margin-left: 1em;
}

.expandable-err-btn:hover {
  max-width: 300px;
}

.expandable-btn-text {
  margin: auto 20px auto 10px;
  white-space: nowrap;
}

.expandable-btn-icon {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  margin-inline: 10px;
}

.bottom-pane {
  margin-inline: 5%;
  padding: 1em;
  display: flex;
  margin-top: 1em;
}

.folder-container {
  margin-top: 1em;
  display: flex;
  max-height: 30em;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.folder-container::-webkit-scrollbar {
  width: 12px;
  background-color: #00000020;
  border-radius: 20px;
}

.folder-container::-webkit-scrollbar-thumb {
  background-color: #88888850;
  border: none;
  border-radius: 20px;
}

.folder-sub-heading {
  font-size: var(--sub-heading-font-size);
  display: flex;
}

.bottom-right-pane {
  margin-left: 10em;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.folder-deets{
  margin-left: 15px;
}

.folder-deets .name{
  font-size: var(--main-heading-font-size);
  color: var(--blue-color);
  margin: 0;
  padding: 0;
}


.grid-container{
  margin-top: 2em;
  width: 100%;
  height: 30em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: relative;
  row-gap: 5em;
  grid-row: 2;
  overflow-y: scroll;
}

.dashboard-options {
  display: flex;
}

.dashboard-options .border-btn {
  background-color: transparent;
  border-radius: var(--small-radius);
  padding: 1em;
  margin-right: 1em;
  display: flex;
  font-weight: var(--semi-bold-weight);
}

.dashboard-options .border-btn img {
  margin-right: 8px;
  margin-top: 2px;
  filter: invert(52%) sepia(0%) saturate(1518%) hue-rotate(178deg)
    brightness(97%) contrast(90%);
}

.folders-count {
  font-size: .5em;
  color: red;
  font-weight: bold;
}
/* ------------------------------------------------ */
/* EDITOR PAGE STYLES */

.page-bottom-pane {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.editor-heading {
  position: absolute;
  top: 20%;
}

.delete-btn {
  background-color: #ef3c66;
  padding: 1em;
  border: none;
  border-radius: var(--small-radius);
  color: var(--light-text-color);
  font-weight: var(--semi-bold-weight);
}
.editor-bg {
  margin-top: 5em;
  width: 70%;
  aspect-ratio: 1 / 0.5;
  align-items: center;
  margin-inline: 4em;
  padding-block: 2em;
  border-radius: var(--big-radius);
  background-image: linear-gradient(
    to top right,
    var(--primary-gradient-start-color),
    var(--primary-gradient-end-color)
  );
  display: flex;
  justify-content: center;
}

.code-editor {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tab-bar {
  width: 100%;
  height: 10%;
  border-radius: 10px 10px 0 0;
  background-color: #37495a;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.editor-controls {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.editor-controls div {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-left: 0.5em;
}

.editor-controls .red {
  background-color: red;
}

.editor-controls .yellow {
  background-color: yellow;
}

.editor-controls .green {
  background-color: green;
}

/* ------------------------------------------------ */

/* SIGN UP AND SIGN IN STYLES */

.auth {
  width: 30rem;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-container {
  width: 100%;
  margin: auto;
}

.form-container {
  padding: 1em;
  border: 0.2px solid #00000020;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 1px 10px 1px #00000015 inset;
}

.auth-container h1 {
  color: #121212;
  margin: 1em 10px 0 10px;
  text-align: center;
}

.form-container label {
  font-size: 1em;
  padding-block: 0.5em;
  margin-top: 1em;
}

.form-container input {
  min-height: 20px;
  width: 100%;
  border: 0.5px solid #00000030;
  border-radius: 0.5em;
  font-size: 15px;
  padding: 1em 0.5em;
  outline-width: 1px;
  outline-color: var(--accent-color);
}

.form-container button {
  width: 100%;
  align-self: center;
  margin-block: 2em;
  padding-block: 1em;
  border: none;
  border-radius: 1em;
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: var(--accent-color);
  cursor: pointer;
}

.helper-text {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.authRedirectLink {
  padding-left: 10px;
  font-size: 1em;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

.motive-text {
  text-align: center;
  font-size: 2em;
  margin-block: 0.5em;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
