:root {
  /* FONT SIZES */
  --main-heading-font-size: 2em;
  --sub-heading-font-size: 1.5em;
  --side-heading-font-size: 1em;

  /* FONT WEIGHTS */
  --light-weight: 300;
  --regular-weight: 400;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* COLORS */

  --faded-blue-color: #3a86ff30;
  --warning-color: #fb5607;
}

.folder-item {
  cursor: pointer;
  width: max-content;
  display: inline-flex;
  padding: 0.5em;
  align-items: center;
  font-size: 1.12em;
  font-weight: var(--light-weight);
  border-radius: 20px;
}

.folder-item:hover {
  background-color: var(--faded-blue-color);
}

.folder-item p {
  font-size: 1.1em;
  overflow: hidden;
  /* max-width: 15ch; */
}

.folder-item img {
  margin-right: 5px;
  width: 1.1em;
  margin-top: 5px;
  filter: invert(52%) sepia(0%) saturate(1518%) hue-rotate(178deg)
    brightness(97%) contrast(90%);
  /* background-color: red; */
}

.delete {
  width: 0.8em;
  margin-top: 5px;
  margin-left: 10px;
}

/* #activeIcon {
  filter: invert(12%) sepia(81%) saturate(7354%) hue-rotate(272deg)
    brightness(94%) contrast(123%);
}

#inactiveIcon {
  filter: invert(0%) sepia(98%) saturate(0%) hue-rotate(349deg) brightness(103%)
    contrast(102%);
} */

/* #activeFolderHeading {
  font-weight: var(--semi-bold-weight);
  
}
#inactiveFolderHeading {
  font-weight: var(--regular-weight);
} */
